body {
  background: #23395B;
  margin: 0;
  font-family: 'Roboto';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  background: #fff;
  height: 30px;
  width: 800px
}