body {
  /* background: #23395B; */
  /* background: linear-gradient(90deg, hsla(211, 95%, 61%, 1) 0%, hsla(207, 100%, 71%, 1) 51%, hsla(192, 100%, 60%, 1) 100%); */
  background: linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
  margin: 0;
  font-family: 'Roboto';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.t-white {
  color: #fff;
}
